@model Domain.Person

<h4>Person</h4>
<hr />
<dl class="row">
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.FirstName)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.FirstName)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.LastName)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.LastName)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.PhoneNumber)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.PhoneNumber)
    </dd>
    
</dl>