@model WebApp.ViewModels.ProductCreateEditViewModel

<div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Product!.ProductName" class="control-label"></label>
        <input asp-for="Product!.ProductName" class="form-control" />
        <span asp-validation-for="Product!.ProductName" class="text-danger"></span>
    </div>
<div class="form-group">
    <label asp-for="Product!.ProductCode" class="control-label"></label>
    <input asp-for="Product!.ProductCode" class="form-control" />
    <span asp-validation-for="Product!.ProductCode" class="text-danger"></span>
</div>
<div class="form-group">
        <label asp-for="Product!.Barcode" class="control-label"></label>
        <input asp-for="Product!.Barcode" class="form-control" />
        <span asp-validation-for="Product!.Barcode" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product!.Brand" class="control-label"></label>
        <input asp-for="Product!.Brand" class="form-control" />
        <span asp-validation-for="Product!.Brand" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product!.DivisionId" class="control-label"></label>
        <select asp-for="Product!.DivisionId" class ="form-control" asp-items="Model.DivisionSelectList"></select>
    </div>
    
