@model Domain.Product

<h4>Product</h4>
<hr />
<dl class="row">
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.ProductName)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.ProductName)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Barcode)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Barcode)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.ProductCode)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.ProductCode)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Brand)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Brand)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Division!.DivisionCode)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Division!.DivisionCode)
    </dd >
</dl>