@model Domain.Division

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <label asp-for="DivisionName" class="control-label"></label>
    <input asp-for="DivisionName" class="form-control" />
    <span asp-validation-for="DivisionName" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="DivisionCode" class="control-label"></label>
    <input asp-for="DivisionCode" class="form-control" />
    <span asp-validation-for="DivisionCode" class="text-danger"></span>
</div>
