@model Domain.Division

<h4>Division</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DivisionName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DivisionName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DivisionCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DivisionCode)
        </dd>
    </dl>
