@model Domain.Division

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <partial name="_DetailsDelete"></partial>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
