@model WebApp.ViewModels.ProductInShopsCheckboxViewModel

@if (Model?.Checkboxes != null) 
{
    <h4>@Model.Shop.ShopName</h4>
    <p></p>
    <form asp-action="Assortment" method="post">
        @for (var i = 0; i < Model.Checkboxes!.Count; i++) 
        {
            <div class="[ form-group ]">
                <input asp-for="@Model.Checkboxes[i].IsSelected" type="checkbox"/>
                <div class="[ btn-group ]">
                    <label class="assortmentLabel" for="@Model.Checkboxes[i].IsSelected" id="_label">@Model.Checkboxes[i].ProductName</label>
                </div>
                <input type="hidden" asp-for="@Model.Checkboxes[i].ProductName" />
                <input type="hidden" asp-for="@Model.Checkboxes[i].Barcode" />
                <input type="hidden" asp-for="@Model.Shop.PersonId" />
                <input type="hidden" asp-for="@Model.Shop.ShopName" />
                <input type="hidden" asp-for="@Model.Shop.ShopEmail" />
            </div>
        }
        <div class="form-group">
            <input type="submit" value="Send email" class="btn btn-primary"/>
        </div>
    </form> 
}
<p></p>
<a asp-action="Index">Back to Shops</a>