@model IEnumerable<Domain.Shop>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>


<partial name="_Search"/>
<p>
    
 </p>
@if (Model != null)
{
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model!.ShopName)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item!.ShopName)
                </td>
                <td>
                    <a asp-action="Assortment" asp-route-id="@item.Id">Vaata sortimenti</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

</body>
</html>