@model Domain.Cooperative

<div asp-validation-summary="All" class="text-danger"></div>
<div class="form-group">
    <label asp-for="CooperativeName" class="control-label"></label>
    <input asp-for="CooperativeName" class="form-control" />
    <span asp-validation-for="CooperativeName" class="text-danger"></span>
</div>