@model Domain.Cooperative

<h4>Cooperative</h4>
<hr />
<dl class="row">
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.CooperativeName)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.CooperativeName)
    </dd>
</dl>