@model Domain.Chain

<div asp-validation-summary="All" class="text-danger"></div>
<div class="form-group">
    <label asp-for="ChainName" class="control-label"></label>
    <input asp-for="ChainName" class="form-control" />
    <span asp-validation-for="ChainName" class="text-danger"></span>
</div>
