@model Domain.Chain

<h4>Chain</h4>
<hr />
<dl class="row">
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.ChainName)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.ChainName)
    </dd>
</dl>