@model WebApp.ViewModels.ShopCreateEditViewModel


<div asp-validation-summary="All" class="text-danger"></div>

<div class="form-group">
    <label asp-for="Shop!.ShopName" class="control-label"></label>
    <input asp-for="Shop!.ShopName" class="form-control" />
    <span asp-validation-for="Shop!.ShopName" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Shop!.ShopCode" class="control-label"></label>
    <input asp-for="Shop!.ShopCode" class="form-control" />
    <span asp-validation-for="Shop!.ShopCode" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Shop!.ChainId" class="control-label"></label>
    <select asp-for="Shop!.ChainId" class ="form-control" asp-items="Model.ChainSelectList"></select>
</div>
<div class="form-group">
    <label asp-for="Shop!.ShopEmail" class="control-label"></label>
    <input asp-for="Shop!.ShopEmail" class="form-control" />
    <span asp-validation-for="Shop!.ShopEmail" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Shop!.CooperativeId" class="control-label"></label>
    <select asp-for="Shop!.CooperativeId" class ="form-control" asp-items="Model.CooperativeSelectList"></select>
</div>
<div class="form-group">
    <label asp-for="Shop!.PersonId" class="control-label"></label>
    <select asp-for="Shop!.PersonId" class ="form-control" asp-items="Model.PersonSelectList"></select>
</div>