@model Domain.Shop

<h4>Shop</h4>
<hr />
<dl class="row">
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.ShopName)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.ShopName)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.ShopCode)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.ShopCode)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.ShopEmail)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.ShopEmail)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Chain!.ChainName)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Chain!.ChainName)
    </dd >
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Cooperative!.CooperativeName)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Cooperative!.CooperativeName)
    </dd >
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Person!.LastName)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Person!.LastName)
    </dd >
</dl>