@model IEnumerable<Domain.Shop>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShopName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShopCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShopEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chain)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cooperative)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShopName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShopCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShopEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chain!.ChainName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person!.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cooperative!.CooperativeName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
