@model WebApp.ViewModels.ProductInShopCreateEditViewModel

<div asp-validation-summary="All" class="text-danger"></div>
<div class="form-group">
    <label asp-for="ProductInShop.Shop!.ShopName" class="control-label"></label>
    <select asp-for="ProductInShop.Shop!.ShopName" class ="form-control" asp-items="Model.ShopSelectList"></select>
</div>
<div class="form-group">
    <label asp-for="ProductInShop.Product!.ProductName" class="control-label"></label>
    <select asp-for="ProductInShop.Product!.ProductName" class ="form-control" asp-items="Model.ProductSelectList"></select>
</div>