@model Domain.ProductInShop

<h4>ProductInShop</h4>
<hr/>
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Shop)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Shop!.ShopCode)
    </dd >
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Product)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Product!.Brand)
    </dd >
</dl>